body{
    margin: 0;
    width: 100%;
    height: 100VH;
    overflow: hidden;
}

.main-login{
    width: 100vw;
    background:rgb(35, 42, 59) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1{
    color: #77ffc0;
}

.rigth-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2b1f36;
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

.card-login h1{
    color: aliceblue;
    font-weight: 800;
    margin: 0;
}

.txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.txt > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #59456b;
    color: #77ffc0;
    font-size: 12pt;
    box-shadow: 0px 10px 40px black;
    outline: none;
    box-sizing: border-box;
}

.txt label{
    color: aliceblue;
    margin-bottom: 10px;
}

.txt input::placeholder{
    color: aliceblue;
}

.btn_login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-size: 800; 
    letter-spacing: 3px;
    color: rgb(56, 66, 47);
    cursor: pointer;
    background: rgb(120, 206, 120);
}